Hi {{ .FullName }}!

**Confirm your email address**

There’s one quick step you need to complete before creating your TruStory account. Let’s make sure this is the right email address for you — please confirm this is the right address to use for your new account.

Click on the following link to confirm your email address:  
[{{ .VerificationLink }}]({{ .VerificationLink }})

Thank you,  
TruStory