Hi {{ .FullName }}!

I’m Preethi Kasireddy, the founder & CEO of TruStory. 

Your friend **{{ .Referrer.FullName}}** (cc’d) thought you’d be a fun (and thoughtful) person to debate with on TruStory.

We’re building a social network where users earn rewards for writing (or curating) the best arguments on both sides of a debate. Our mission is to make the internet more open-minded. 

Here’s how you can get started:  

- Sign-up here: [{{ .SignupLink }}]({{ .SignupLink }}). Be sure to complete the onboarding steps to learn how rewards work. 
- Read our core [values](https://www.trustory.io/values/). We’ve been methodical about who we onboard to the private Beta as we scale so it’s important we’re all aligned here. 
- Let us know if you have any questions! 

Looking forward to have you join me and {{ .Referrer.FullName }}. It’s always more fun to debate people you already know :)

Best,  
Preethi
