**Reset your password?**

If you requested a password reset for @{{ .Username }}, click the link below. If you didn't make this request, ignore this email.

[{{ .ResetLink }}]({{ .ResetLink }})

Thank you,  
TruStory
