Hi {{ .Name }},

Thank you for showing interest in signing up for TruStory. You're one of the few who've been approved. Yay!

You can sign up using the following link: <a href="{{ .SignupLink }}">Sign up now</a>

Welcome to the TruStory family. Go,debate!

Thank you
Preethi