Hey there,

Welcome! I’m Preethi, the founder and CEO of TruStory. 

First, I appreciate you taking the time to answer the waitlist questions. The product & incentives alone won't help us make the internet more open-minded. We need to find people (like you) who are aligned with our values to serve as examples for everyone. 

Please **create your TruStory Beta account here: [{{ .SignupLink }}]({{ .SignupLink }})**. You’ll be asked to download the mobile app to finish onboarding and jump into the debates. Make sure to complete the onboarding tour to learn how the rewards work :) 

We’d be happy to personally onboard you to answer any questions and learn from your initial impression. You can schedule a quick 15-minute call with us here. 

Best,  
Preethi